@model PagedList.IPagedList<DATechShop.Models.NguoiDung>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSachNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Danh Sách Người Dùng</h2>

<div class="dropdown">
    <button type="button" class="btn bnt-primary dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fas fa-filter"></i> Lọc dữ liệu
    </button>
    <ul class="dropdown-menu">

        <li><a class="dropdown-item"> <strong>Tất cả</strong></a></li>
        <li><a class="dropdown-item"> <strong>Chờ duyệt</strong></a></li>
        <li><a class="dropdown-item"> <strong>Đã hủy</strong></a></li>

    </ul>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="7" class="text-end">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="h3 text-dark mb-0">Sản Phẩm</p>
                            <a class="btn btn-primary" href="@Url.Action("DangKyTaiKhoan")">
                                <i class="fas fa-plus"></i> Thêm User
                            </a>
                        </div>
                    </th>

                </tr>
                <tr>
                    <th>
                        Tên Khách Hàng
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Dịa chỉ
                    </th>
                    <th>
                        Mật khẩu
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sdt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.diaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.matKhau)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id_NguoiDung }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id_NguoiDung }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id_NguoiDung })
                    </td>
                </tr>
            }

        </table>
        <div class="container center">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("DanhSachNguoiDung", new { page }), PagedListRenderOptions.Classic)
            </ul>
        </div>
    </div>
</div>


<style>
   
</style>
