@model PagedList.IPagedList<DATechShop.Models.KhuyenMai>
@using PagedList.Mvc;
@{
    ViewBag.Title = "DanhSachKhuyenMai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="errorAlert" class="alert alert-danger" style="display:none;">
    <i class="fas fa-exclamation-circle"></i>
    <span id="errorMessage"></span>
</div>

<div id="successAlert" class="alert alert-success" style="display:none;">
    <i class="fas fa-check-circle"></i>
    <span id="successMessage"></span>
</div>

<h2 class="text-center">Danh sách khuyến mãi</h2>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="7" class="text-end">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="h3 text-dark mb-0">Khuyến mãi</p>
                            <a class="btn btn-primary" href="@Url.Action("ThemKM")">
                                <i class="fas fa-plus"></i> Thêm Khuyến mãi 
                            </a>
                        </div>
                    </th>

                </tr>
                <tr>
                    <th>Mã giảm giá</th>
                    <th>Lượng % giảm</th>
                    <th>Mô tả khuyến mãi</th>
                    <th>Ngày hết</th>
                    <th>Trạng thái</th>
                    <th>Hình ảnh</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.tenMa)</td>
                        <td>@Html.DisplayFor(modelItem => item.phanTramGiam)</td>
                        <td>@Html.DisplayFor(modelItem => item.moTaKhuyenMai)</td>
                        <td>@Html.DisplayFor(modelItem => item.ngayHet)</td>
                        <td>@Html.DisplayFor(modelItem => item.trangThai)</td>
                        <td><img style="width:50px;height:auto" src="~/Upload/img/@item.hinhAnh" /></td>
                        <td  style="text-align: center; vertical-align: middle;">
                            <div class="dropdown d-inline" >
                                <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bars"></i>
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <li >
                                        <a href="@Url.Action("SuaKhuyenMai", "KhuyenMai", new { id_khuyenMai = @item.id_KhuyenMai })" class="btn">
                                            <i class="fas fa-edit"></i>
                                            <strong class="">Sửa </strong>
                                        </a>

                                    </li>

                                    <li class=" mx-3">
                                        <i class="fas fa-eye"></i> 
                                        <strong class="mx-2">Xem chi tiết</strong> 
                                    </li>
                                    <li mb-1>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li class="mx-3 mb-1">
                                        <p data-id-khuyenmai="@item.id_KhuyenMai" class="confirmDeleteBtn text-danger">
                                            <i class="fas fa-trash-alt"></i>
                                            <strong class="mx-2">Xóa</strong>
                                        </p>
                                    </li>
                                </ul>

                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("DanhSachKhuyenMai", new { page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.confirmDeleteBtn').click(function () {
            var id_KhuyenMai = $(this).data('id-khuyenmai');

            $('#confirmModal').modal('show');

            $('#confirmBtn').click(function () {
                $.ajax({
                    url: '/Admin/KhuyenMai/xoaKM',
                    type: 'POST',
                    data: { id_khuyenMai: id_KhuyenMai },
                    success: function (result) {
                        if (result.success) {


                            $.get('/Admin/KhuyenMai/DanhSachKhuyenMai', function (data) {
                                $('#dataTable').html($(data).find('#dataTable').html());
                            });
                        } else {

                        }
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                        console.log(xhr.responseText);
                    }
                });
                $('#confirmModal').modal('hide');
            });
        });
    });
</script>

