@model PagedList.IPagedList<DATechShop.Models.KhuyenMai>
@using PagedList.Mvc;
@{
    ViewBag.Title = "DanhSachKM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>chiTietSPLoai</h2>
<div class="container">

    <p class="h1 mt-5 mx-5 " >Kiến Mãi</p>
    <div class="row bg-light">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-3">

                    <div class="card">
                        <img src="@Url.Content("~/Upload/img/" + item.hinhAnh)" class="card-img-top mt-2">
                        <div class="card-body">
                            <label class="label fs-3">@item.moTaKhuyenMai</label>
                            <label class="label fs-3">Mã: @item.tenMa</label>
                            <p>
                                <i class="far fa-calendar mx-2"></i>
                                @item.ngayHet.Value.ToString("dd/MM/yyyy")
                            </p>
                            <p id="khuyenMai">@item.phanTramGiam%</p>
                        </div>
                    </div>

                </div>
            }
        }
        else
        {
            <p>Danh sách sản phẩm trống</p>
        }

        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("DanhSachKM", new { page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>

<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #007bff;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 2;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            cursor: default;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 2;
            color: #0056b3;
            background-color: #e9ecef;
            border-color: #ddd;
        }

        .pagination > .disabled > span,
        .pagination > .disabled > span:hover,
        .pagination > .disabled > span:focus,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #999;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }
</style>


