@model PagedList.IPagedList<DATechShop.Models.LoaiThanhToan>
@using PagedList.Mvc;
@{
    ViewBag.Title = "danhSachLoaiThanhToan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="text-center">Lịch sử chuyển tiền</h2>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="7" class="text-end">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="h3 text-dark mb-0">Lịch sử chuyển tiền</p>
                            <div class="d-flex align-items-center">
                                <div class="form-group mb-4 d-flex align-items-center mt-4">
                                    <input type="date" class="form-control" id="startDate">
                                </div>
                                <div class="form-group mb-4d-flex align-items-center mt-4">
                                    <i class="fas fa-arrow-right fa-lg mx-2"></i>
                                </div>
                                <div class="form-group mb-4 d-flex align-items-center mt-4 ">
                                    <input type="date" class="form-control" id="endDate">
                                </div>
                                <button class="btn btn-success mx-3" id="exportExcelButton">Xuất Excel</button>

                            </div>
                        </div>
                    </th>

                </tr>
                <tr>
                    <th>Mã giao dịch</th>
                    <th>Đơn hàng</th>
                    <th>Tên khách</th>
                    <th>Loại thanh toán</th>
                    <th>Tổng giao dịch</th>
                    <th>Trạng thái</th>
                    <th>Ngày thanh toán</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id_ThanhToan)</td>
                        <td>@Html.DisplayFor(modelItem => item.id_HoaDon)</td>
                        <td>@Html.DisplayFor(modelItem => item.HoaDon.NguoiDung.ten)</td>
                        <td>@Html.DisplayFor(modelItem => item.loaiThanhToan1)</td>
                        <td> <p>@String.Format("{0:#,##0}", item.HoaDon.tongTien) đ</p></td>
                        <td>
                            @(item.trangThai == 0 ? "Chưa thanh toán" : "Đã thanh toán")
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.ngayThanhToan)</td>



                    </tr>
                }
            </tbody>
        </table>
        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("danhSachLoaiThanhToan", new { page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const exportExcelButton = document.getElementById("exportExcelButton");

        exportExcelButton.addEventListener("click", function (event) {
            event.preventDefault();

            const startDate = document.getElementById("startDate").value;
            const endDate = document.getElementById("endDate").value;
            if (!startDate || !endDate) {
                alert("Vui lòng nhập cả ngày bắt đầu và ngày kết thúc.");
                return;
            }

            const today = new Date();
            const selectedStartDate = new Date(startDate);


            if (startDate > endDate) {
                alert("Ngày bắt đầu không thể lớn hơn ngày kết thúc.");
                return;
            }

            window.location.href = `/Admin/Excel/ExportToExcel?startDate=${startDate}&endDate=${endDate}`;
        });
    });

</script>
