@model PagedList.IPagedList<DATechShop.Models.HoaDon>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSachHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Tất cả đơn hàng</h2>

<div class="card-body ">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    
                    <th>Ngày Tạo</th>
                    <th>Khách Hàng</th>
                    <th>Địa Chỉ </th>
                    <th>Tổng tiền</th>
                    <th>Giá Giảm</th>
                    <th>Tình trạng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.ngayTao)</td>
                        <td>
                            <div class="mb-2">
                                <!-- Thêm một div để bao quanh cả hai phần tử -->
                                <p class="font-weight-bold mb-0">Phạm Bảo</p> <!-- Class mb-0 để loại bỏ margin bottom -->
                                <p class="mb-0">@item.sdt</p> <!-- Class mb-0 để loại bỏ margin bottom -->
                            </div>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.diaChi)</td>
                        <td>@Html.DisplayFor(modelItem => item.tongTien)</td>
                        <td>@Html.DisplayFor(modelItem => item.giamGia)</td>
                        <td >
                            @if (item.trangThai == 1)
                            {
                                <span class="badge bg-primary"><i class="fas fa-clock"></i> Đang đợi duyệt</span>
                            }
                            else if (item.trangThai == 2)
                            {
                                <span class="badge bg-success"><i class="fas fa-check-circle"></i> Đã duyệt</span>
                            }
                            else if (item.trangThai == 3)
                            {
                                <span class="badge bg-warning text-dark"><i class="fas fa-truck"></i> Đang Giao</span>
                            }
                            else if (item.trangThai == 4)
                            {
                                <span class="badge bg-danger"><i class="fas fa-times-circle"></i> Hủy đơn</span>
                            }
                        </td>

                        <td style="text-align: center; vertical-align: middle;">
                            <div class="dropdown d-inline">
                                <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bars"></i> <!-- Icon ba dòng ngang của Font Awesome -->
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li class="dropdown-item"><i class="fas fa-check-circle text-success"></i> Chấp nhận</li>
                                    <li class="dropdown-item"><i class="fas fa-check text-primary"></i> Hoàn thành</li>
                                    <li class="dropdown-item"><i class="fas fa-times-circle text-danger"></i> Hủy đơn</li>
                                </ul>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("DanhSachHoaDon", new { page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>



