@model PagedList.IPagedList<DATechShop.Models.HoaDon>
@using PagedList.Mvc;

@{
    ViewBag.Title = "locDanhSachHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center">Tất cả đơn hàng</h2>

    <div class="d-flex align-items-center">
        <h1 class="h4 mb-0 text-gray me-3 mx-3">Thống Kê:</h1>

        <div class="form-group mb-4 me-3 mt-4">
            <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.startDate">
        </div>

        <div class="form-group mb-4 me-3 d-flex align-items-center mt-4">
            <i class="fas fa-arrow-right fa-lg mx-2"></i>
        </div>

        <div class="form-group mb-4 me-3 mt-4">
            <input type="date" class="form-control" id="endDate" name="endDate" value="@ViewBag.endDate">
        </div>

        <div class="dropdown me-3">
            <input type="text" class="form-control bg-white" id="selectedStatus" readonly placeholder="Tất cả" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="trangThaiDon">
            <input id="hiddenStatus" name="hiddenStatus" type="hidden">
            <ul class="dropdown-menu" aria-labelledby="selectedStatus">
                <li><span class="dropdown-item" data-text="Tất cả" data-value="0">Tất cả</span></li>
                <li><span class="dropdown-item" data-text="Chờ duyệt" data-value="1">Chờ duyệt</span></li>
                <li><span class="dropdown-item" data-text="Chờ duyệt" data-value="2">Đã Thanh Toán</span></li>
                <li><span class="dropdown-item" data-text="Đang giao" data-value="3">Đang giao</span></li>
                <li><span class="dropdown-item" data-text="Đã hủy" data-value="4">Đã hủy</span></li>
                <li><span class="dropdown-item" data-text="Hoàn thành" data-value="4">Hoàn thành</span></li>
                <li><span class="dropdown-item" data-text="Khách hủy" data-value="6">Khách hủy</span></li>
            </ul>
        </div>

        <button id="submitButton" type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>







    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Ngày Tạo</th>
                        <th>Khách Hàng</th>
                        <th>Địa Chỉ </th>
                        <th>Tổng tiền</th>
                        <th>Thanh toán</th>
                        <th>Tình trạng</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="">@item.id_HoaDon</td>
                            <td onclick="window.location.href = '@Url.Action("ChiTietHD", "HoaDon", new { id_hoaDon = item.id_HoaDon })'">@Html.DisplayFor(modelItem => item.ngayTao)</td>
                            <td onclick="window.location.href = '@Url.Action("ChiTietHD", "HoaDon", new { id_hoaDon = item.id_HoaDon })'">
                                <div class="mb-2">

                                    <p class="mb-0">@item.sdt</p>
                                </div>
                            </td>
                            <td onclick="window.location.href = '@Url.Action("ChiTietHD", "HoaDon", new { id_hoaDon = item.id_HoaDon })'">@Html.DisplayFor(modelItem => item.diaChi)</td>
                            <td onclick="window.location.href = '@Url.Action("ChiTietHD", "HoaDon", new { id_hoaDon = item.id_HoaDon })'">
                                <p class="mb-1 font-weight-bold"> =  @String.Format("{0:#,##0}đ", item.tongTien)</p>
                                <p class="mt-1">@String.Format("{0:#,##0}đ", item.giamGia) (giá giảm) </p>
                            </td>
                            <td onclick="window.location.href = '@Url.Action("ChiTietHD", "HoaDon", new { id_hoaDon = item.id_HoaDon })'">
                                @{
                                    var dbContext = ViewBag.DbContext as DATechShop.Models.DATotNghiepEntities;
                                    if (dbContext != null)
                                    {
                                        var loaiThanhToan = dbContext.LoaiThanhToans.FirstOrDefault(l => l.id_HoaDon == item.id_HoaDon);

                                        if (loaiThanhToan != null)
                                        {
                                            <p class="">@loaiThanhToan.loaiThanhToan1</p>
                                            <p>@(loaiThanhToan.trangThai == 1 ? "Đã thanh toán" : "Chưa thanh toán")</p>
                                        }
                                        else
                                        {
                                            <p>Không có thông tin thanh toán</p>
                                        }
                                    }
                                }

                            </td>

                            <td onclick="window.location.href = '@Url.Action("ChiTietHD", "HoaDon", new { id_hoaDon = item.id_HoaDon })'">
                                @if (item.trangThai == 1)
                                {
                                    <span class="badge bg-primary"><i class="fas fa-clock"></i> Đang đợi duyệt</span>
                                }
                                else if (item.trangThai == 2)
                                {
                                    <span class="badge bg-success"><i class="fas fa-check-circle"></i> Đã Thanh Toán</span>
                                }
                                else if (item.trangThai == 3)
                                {
                                    <span class="badge bg-warning text-dark"><i class="fas fa-truck"></i> Đang Giao</span>
                                }
                                else if (item.trangThai == 4)
                                {
                                    <span class="badge bg-danger"><i class="fas fa-times-circle"></i> Hủy đơn</span>
                                }
                                else if (item.trangThai == 5)
                                {
                                    <span class="badge bg-primary"><i class="fas fa-check-circle text-white"></i> Đã xong</span>
                                }
                                else if (item.trangThai == 6)
                                {
                                    <span class="badge bg-danger"><i class="fas fa-times-circle"></i> Khách hàng hủy</span>
                                }
                            </td>

                            <td style="text-align: center; vertical-align: middle;">
                                <div class="dropdown d-inline">
                                    <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (item.trangThai != null)
                                        {

                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("ChiTietHD", "HoaDon", new { id_hoaDon = item.id_HoaDon ,  area = "Admin"})">
                                                    <i class="fas fa-eye"></i> Xem chi tiết
                                                </a>
                                            </li>
                                        }
                                        @if (item.trangThai == 1 || item.trangThai == 2)
                                        {
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("doiTrangThai", "HoaDon", new { value = 3, id_hoaDon = item.id_HoaDon ,  area = (string)null })">
                                                    <i class="fas fa-check-circle text-success"></i> Chấp nhận
                                                </a>
                                            </li>
                                        }

                                        @if (item.trangThai == 3)
                                        {

                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("doiTrangThai", "HoaDon", new { value = 5, id_hoaDon = item.id_HoaDon ,  area = (string)null })">
                                                    <i class="fas fa-check-circle text-success"></i> Hoàn thành
                                                </a>

                                            </li>
                                        }

                                        @if (item.trangThai == 1 || item.trangThai == 2)
                                        {

                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("doiTrangThai", "HoaDon", new { value = 3, id_hoaDon = item.id_HoaDon ,  area = (string)null })">
                                                    <i class="fas fa-times-circle text-danger"></i> Hủy
                                                </a>
                                            </li>
                                        }

                                    </ul>

                                </div>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            <div class="container center">
                <div class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("locDanhSachHoaDon", new { page, trangThaiDon = ViewBag.trangThaiDon, startDate = ViewBag.startDate, endDate = ViewBag.endDate }), PagedListRenderOptions.Classic)
                </div>
            </div>
        </div>
    </div>

</div>
<script>
        // Xử lý khi người dùng chọn trạng thái từ dropdown menu
        $('.dropdown-menu .dropdown-item').click(function () {
            var selectedText = $(this).data('text');
            var selectedValue = $(this).data('value');
            $('#selectedStatus').val(selectedText);
            $('#hiddenStatus').val(selectedValue);
            console.log(selectedValue);
        });
        //đang lỗi gửi
    $('#submitButton').click(function () {
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var trangThaiDon = parseInt($('#hiddenStatus').val());

        $.ajax({
            url: '@Url.Action("locDanhSachHoaDon", "HoaDon")',
            method: 'GET',
            data: {
                startDate: startDate,
                endDate: endDate,
                trangThaiDon: trangThaiDon
            },
            success: function (response) {
                // Chuyển hướng trình duyệt đến view mới
                window.location.replace('@Url.Action("locDanhSachHoaDon", "HoaDon")?startDate=' + startDate + '&endDate=' + endDate + '&trangThaiDon=' + trangThaiDon);
            },
            error: function (xhr, status, error) {
                console.log('Lỗi: ' + error);
            }
        });
    });
    // Thiết lập giá trị cho dropdown menu từ ViewBag
var trangThaiDonValue = parseInt('@ViewBag.trangThaiDon'); // Parse giá trị trạng thái từ ViewBag sang số nguyên
var trangThaiDonText = ''; // Biến để lưu trữ text tương ứng với giá trị trạng thái

// Xác định text tương ứng với giá trị trạng thái
switch (trangThaiDonValue) {
    case 0:
        trangThaiDonText = 'Tất cả';
        break;
    case 1:
        trangThaiDonText = 'Chờ duyệt';
        break;
    case 2:
        trangThaiDonText = 'Đã thanh toán';
        break;
    case 3:
        trangThaiDonText = 'Đang giao';
        break;
    case 4:
        trangThaiDonText = 'Hủy đơn';
        break;
    case 5:
        trangThaiDonText = 'Đã xong';
        break;
    case 6:
        trangThaiDonText = 'Khách Hủy';
        break;
    default:
        trangThaiDonText = 'Tất cả';
}

// Đặt giá trị cho input và dropdown menu
$('#selectedStatus').val(trangThaiDonText);
$('#hiddenStatus').val(trangThaiDonValue);




</script>