
@{
    ViewBag.Title = "datHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container px-4 mt-5">
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Đặt hàng</h4>
                        <div class="breadcrumb__links">
                            <a href="~/trangchu">Trang chủ</a>
                            <a href="~/muahang/giohang">Giỏ hàng</a>
                            <span>Đặt Hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <form method="post" class="mt-3">
        <div class="row gx-5">

            <div class="col-7">
                @{

                    var tenNguoiDung = Session["TenNguoiDung"] as string;
                    var soDienThoai = Session["SoDienThoai"] as string;
                    var diaChi = Session["DiaChi"] as string;
                    var id = Session["id_NguoiDung"];
                }


                <div class="p-3 border rounded-4 bg-light container">
                    <p class="h4 mx-5 text-center">Thông tin giao hàng:</p>
                    <ul>
                        <li class="">
                            <label>ID:</label>
                            <span class="font-weight-bold text-dark">@id</span>
                        </li>
                        <li class="">
                            <label>Tên khách hàng:</label>
                            <span class="font-weight-bold text-dark"> @tenNguoiDung</span>
                        </li>
                        <li class="">
                            <label>Ngày đặt:</label>
                            <span id="ngayDat" class="font-weight-bold text-dark"></span>
                        </li>
                        <li class="">
                            <label>Số điện thoại:</label>
                            <span class="font-weight-bold text-dark">@soDienThoai</span>
                        </li>
                        <li class="">
                            <label>Tình trạng:</label>
                            <span class="font-weight-bold text-success">Đang xử lý</span>
                        </li>
                    </ul>
                    <hr class="border-top border-2 border-dark">

                    <p class="text-danger mx-5">(*)Yêu cầu khách ghi đúng thông tin cá nhân</p>

                    <div class="container">
                        <div class="form-group">
                            <label class="h5" for="phoneNumber">Số người nhận:</label>
                            <br>
                            <input name="sdt" class="form-control mt-2" type="text" value="@soDienThoai" placeholder="Nhập số liên hệ của bạn người nhận...">
                        </div>
                        <label class="h5"> Địa chỉ:</label>
                        <p class="text-danger" id="textError">(*)Điền đầy đủ địa chỉ giao hàng</p>
                        <div style="display: flex; flex-direction: row; align-items: center;">

                            <select id="provinceSelect" name="idTinh" class="form-control" style="width: 200px;">
                                <option value="">Chọn Tỉnh/Thành phố</option>
                                @foreach (var province in ViewBag.Provinces)
                                {
                                    <option value="@province.Value">@province.Text</option>
                                }
                            </select>

                            <!-- Quận/Huyện -->
                            <select id="districtSelect" name="idHuyen" class="form-control mx-3" style="width: 200px;">
                                <option value="">Chọn Quận/Huyện</option>
                            </select>

                            <!-- Xã/Phường -->
                            <select id="wardSelect" name="idXa" class="form-control" style="width: 200px;">
                                <option value="">Chọn Xã/Phường</option>
                            </select>



                        </div>


                        <input class="form-control mt-2" type="text" name="soNha" placeholder="Số Nhà/Đường" />

                        <p class="text-danger">@ViewBag.ErrorMessage</p>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label h5">Ghi chú:</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>


                    </div>


                    <hr class="border-top border-2 border-dark">
                    <div class="container">
                        <p class="h5">Phương thức thanh toán:</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="btn-wrapper">
                                    <div class="btn payment-option" data-option="tructiep">
                                        <span class="icon mx-1">
                                            <i class="fas fa-money-bill"></i>
                                        </span>
                                        <span class="text">Trực tiếp</span>
                                    </div>
                                </div>

                                <div class="btn-wrapper">
                                    <div class="btn payment-option" data-option="momo">
                                        <span class="icon mx-1">
                                            <img src="~/img/momo.png" alt="MOMO" style="width: 24px; height: 24px;">
                                        </span>
                                        <span class="text">MOMO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-wrapper">
                                    <div class="btn payment-option" data-option="vnpay">
                                        <span class="icon mx-1">
                                            <img src="~/img/vnpay.png" alt="VNpay" style="width: 24px; height: 24px;">
                                        </span>
                                        <span class="text">VNpay</span>
                                    </div>
                                </div>
                                <div class="btn-wrapper">
                                    <div class="btn payment-option" data-option="thequocte">
                                        <span class="icon mx-1">
                                            <img src="~/img/thanhtoan.png" alt="Thẻ quốc tế" style="width: 24px; height: 24px;">
                                        </span>
                                        <span class="text">Thẻ quốc tế</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-wrapper">
                                    <div class="btn payment-option" data-option="zalopay">
                                        <span class="icon mx-1">
                                            <img src="~/img/zalopay.png" alt="ZaloPay" style="width: 24px; height: 24px;">
                                        </span>
                                        <span class="text">ZaloPay</span>
                                    </div>
                                </div>
                                <div class="btn-wrapper">
                                    <div class="btn payment-option" data-option="chuyenkhoan">
                                        <span class="icon mx-1">
                                            <img src="~/img/banking.jpg" alt="Chuyển khoản" style="width: 24px; height: 24px;">
                                        </span>
                                        <span class="text">Chuyển khoản</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

            <div class="col-5">

                <div class="p-3 border rounded-4 bg-light">
                    <p class="h4 text-center">Hóa Đơn</p>
                    <table class="table" id="tableSanPham">

                        <thead>

                            <tr>

                                <th scope="col">Tên Sản Phẩm</th>

                                <th scope="col">Số Lượng</th>

                                <th scope="col">Thành Tiền</th>

                            </tr>

                        </thead>
                        <tbody>
                        </tbody>

                    </table>

                    <div class="container">
                        <table class="container-fluid mt-3">
                            <tbody>
                                <tr class="mb-3">
                                    <td class="text-start">Mã giảm giá:</td>
                                    <td class="text-end text-danger" Tien">NNSVC</td>
                                </tr>
                                <tr class="mb-3">
                                    <td class="text-start">Tổng phụ:</td>
                                    <td class="text-end" id="tongPhu">0đ</td>
                                </tr>
                                <tr class="mb-3">
                                    <td class="text-start">Phần trăm Giảm:</td>
                                    <td class="text-end" id="phamTramGiam" name="phamTramGiam"></td>
                                </tr>
                                <tr>
                                    <td class="text-start">Tiền Giảm:</td>
                                    <td class="text-end" id="tienGiam">0đ</td>
                                </tr>
                                <tr>
                                    <td class="text-start h4 text-dark font-weight-bold">Tổng cộng:</td>
                                    <td class="text-end h4 text-primary font-weight-bold" id="tongCong" name="tongCong">0đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <hr class="border-top border-2 border-dark">
                        <div class="mx-3">
                            <input class="form-check-input checkbox" type="checkbox" id="agreeCheckbox">
                            <label class="form-check-label text-primary" for="agreeCheckbox">Tôi đã đọc và đồng ý điều khoản và điều kiện của hệ thống</label>
                        </div>
                        <p id="selectAgreeMessage" class="text-danger" style="display: none;">(*)Vui lòng chọn đồng ý</p>
                        <button class="mx-auto btn primary-btn btn-lg mt-2" type="button" id="taoHoaDonBtn">Tiến hành đặt hàng</button>
                        <p class="text-danger mt-2">(*)Phí phụ thu sẽ được tính khi bạn tiến hành thanh toán.</p>
                    </div>
                </div>



            </div>

        </div>
    </form>
</div>

<script src="~/Script/Cart.js"></script>

<script>
    $(document).ready(function () {

        var phamTramGiam = @ViewBag.phamTramGiam;

        var arrSanPham = CartClass.Get();
        var totalAmount = 0;

        arrSanPham.forEach(function (item) {
            totalAmount += item.soLuong * item.giaSP;
        });

        var totalAmountFloat = parseFloat(totalAmount);
        var tienGiam = totalAmount * (phamTramGiam / 100);
        var tienGiams = tienGiam.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        var tongCong = totalAmount - (totalAmount * (phamTramGiam / 100));
        var tongCongs = tongCong.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        var totalAmounts = totalAmountFloat.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        $('#phamTramGiam').text(phamTramGiam + '%');
        $('#tongCong').text(tongCongs + 'đ');
        $('#tongPhu').text(totalAmounts + 'đ');
        $('#tienGiam').text(tienGiams + 'đ');

        $('#provinceSelect').on('change', function () {
            var provinceId = $(this).val();
            console.log('Province ID selected:', provinceId);

            // Gửi AJAX request để lấy danh sách quận/huyện
            $.ajax({
                url: '/MuaHang/LayQuanHuyen',
                type: 'GET',
                data: { provinceId: provinceId },
                success: function (response) {
                    console.log('AJAX request for districts sent successfully:', response);
                    
                    $('#districtSelect').empty();
                    $('#districtSelect').append($('<option>', {
                        value: '',
                        text: 'Chọn Quận/Huyện'
                    }));
                    $.each(response, function (index, district) {
                        $('#districtSelect').append($('<option>', {
                            value: district.id,
                            text: district.name
                        }));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error sending AJAX request:', error);
                }
            });
        });

        $('#districtSelect').on('change', function () {
            var districtId = $(this).val();
            console.log('District ID selected:', districtId);

          
            $.ajax({
                url: '/MuaHang/LayXaPhuong',
                type: 'GET',
                data: { districtId: districtId },
                success: function (response) {
                    console.log('AJAX request for wards sent successfully:', response);
                    // Cập nhật dropdown xã/phường dựa trên response
                    $('#wardSelect').empty();
                    $('#wardSelect').append($('<option>', {
                        value: '',
                        text: 'Chọn Xã/Phường'
                    }));
                    $.each(response, function (index, ward) {
                        $('#wardSelect').append($('<option>', {
                            value: ward.id,
                            text: ward.name
                        }));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error sending AJAX request:', error);
                }
            });
        });
    });

    const paymentOptions = document.querySelectorAll('.payment-option');


    paymentOptions.forEach(option => {
        option.addEventListener('click', function () {

            paymentOptions.forEach(opt => {
                opt.classList.remove('selected');
            });


            this.classList.add('selected');
        });
    });

    var ngayDatSpan = document.getElementById("ngayDat");
    var ngayHienTai = new Date();
    var ngay = ngayHienTai.getDate();
    var thang = ngayHienTai.getMonth() + 1;
    var nam = ngayHienTai.getFullYear();
    var ngayDat = ngay + '/' + thang + '/' + nam;
    ngayDatSpan.innerHTML = ngayDat;


   $(document).ready(function () {

       var arrSanPham = CartClass.Get();


          arrSanPham.forEach(function (sanPham) {
            var chiTietSPId = sanPham.chiTietSPId;


            $.ajax({
                url: '@Url.Action("LayThongTinSanPham", "MuaHang")',
                type: 'GET',
                data: { chiTietSPId: chiTietSPId },
                success: function (response) {

                    var tenSanPham = response.tenSP;
                    var giaSanPham = response.giaSP;
                    var soLuong = sanPham.soLuong;
                    var thanhTien = giaSanPham * soLuong;
                    var thanhTiens = thanhTien.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                    var tableBody = $('#tableSanPham tbody');
                    var newRow = '<tr>' +
                        '<td>' + tenSanPham + '</td>' +
                        '<td>' + soLuong + '</td>' +
                        '<td>' + thanhTiens + 'đ' + '</td>' +
                        '</tr>';
                    tableBody.append(newRow);
                },
                error: function (xhr, status, error) {
                    console.error('Error sending AJAX request:', error);
                }
            });
        });
   });


$(document).ready(function () {
    $('#taoHoaDonBtn').on('click', function () {

        var agreeCheckbox = $('#agreeCheckbox');
        if (!agreeCheckbox.prop('checked')) {
            $('#selectAgreeMessage').show();
            return;
        } else {
            $('#selectAgreeMessage').hide();
        }

        if (!selectedPaymentMethod) {

            $('#errorMessage').text('Chọn phương thức thanh toán');
            $('#errorAlert').fadeIn('slow').delay(1000).fadeOut('slow');
            return;
        }
        console.log(selectedPaymentMethod);
        var sdt = $('input[name="sdt"]').val();
        var idTinh = $('select[name="idTinh"]').val();
        var idHuyen = $('select[name="idHuyen"]').val();
        var idXa = $('select[name="idXa"]').val();
        var soNha = $('input[name="soNha"]').val();
        var note = $('textarea').val();
        var paymentMethod = $('.payment-option.selected').text();

        var phamTramGiam = parseFloat(@ViewBag.phamTramGiam);

        var arrSanPham = CartClass.Get();
        var tongCong = 0;

        arrSanPham.forEach(function (item) {
            tongCong += item.soLuong * item.giaSP;
        });

        
        

        $.ajax({
            url: '@Url.Action("TaoHoaDon", "MuaHang")',
            type: 'POST',
            data: {
                sdt: sdt,
                idTinh: idTinh,
                idHuyen: idHuyen,
                idXa: idXa,
                soNha: soNha,
                note: note,
                phamTramGiam: phamTramGiam,
                tongCong: tongCong,
                selectedPaymentMethod: selectedPaymentMethod
            },
            success: function (response) {
                var hoaDonId = response.hoaDonId;
                var products = CartClass.Get();
                var paymentUrl = response.paymentUrl;
                console.log(paymentUrl)
                console.log(hoaDonId)
                console.log(products)
                if (products && products.length > 0) {
                    // Gọi AJAX để tạo chi tiết hóa đơn
                    $.ajax({
                        url: '@Url.Action("TaoChiTietHoaDon", "MuaHang")',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ hoaDonId: hoaDonId, paymentUrl: paymentUrl, chiTietSPIds: products.map(item => item.chiTietSPId), soLuongs: products.map(item => item.soLuong) }),
                        success: function (response) {
                            console.log('Chi tiết hóa đơn đã được tạo thành công.');
                            if (paymentUrl != null) {
                                window.location.href = paymentUrl;
                            } else {
                                $('#successMessage').text('Đã đặt hàng thành công');
                                $('#successAlert').fadeIn('slow', function () {
                                    $(this).delay(5).fadeOut('slow', function () {
                                        window.location.href = '/';
                                    });
                                });
                            }

                        },
                        error: function (xhr, status, error) {
                            console.error('Đã xảy ra lỗi khi tạo chi tiết hóa đơn:', error);
                            $('#textError').text('Đã có lỗi khi tạo hóa đơn').addClass('text-danger');
                            $('#errorMessage').text('Đã có lỗi khi tạo hóa đơn rồi');
                            $('#errorAlert').fadeIn('slow').delay(2000).fadeOut('slow');
                        }
                    });
                } else {
                    // Không có sản phẩm trong giỏ hàng
                    console.error('Không có sản phẩm trong giỏ hàng để tạo chi tiết hóa đơn.');
                    $('#errorMessage').text('Đã có lỗi khi tạo hóa đơn nhá');
                    $('#textError').text('Đã có lỗi khi tạo hóa đơn').addClass('text-danger');

                    $('#errorAlert').fadeIn('slow').delay(2000).fadeOut('slow');
                }
            },
            error: function (xhr, status, error) {
                console.error('Đã xảy ra lỗi khi tạo hóa đơn:', error);
                $('#errorMessage').text('Đã có lỗi khi tạo hóa đơn');
                $('#errorAlert').fadeIn('slow').delay(2000).fadeOut('slow');
            }
        });
    });
});
    var selectedPaymentMethod = ''; // lấy phương thức thanh toán
    document.addEventListener("DOMContentLoaded", function () {
        var paymentOptions = document.querySelectorAll(".payment-option");

        paymentOptions.forEach(function (option) {
            option.addEventListener("click", function () {
                // Xóa lựa chọn trước đó
                paymentOptions.forEach(function (opt) {
                    opt.classList.remove("selected");
                });

                this.classList.add("selected");

                selectedPaymentMethod = this.dataset.option; // Lưu giá trị của phương thức thanh toán vào biến selectedPaymentMethod
            });
        });
    });



</script>

<style>
    .btn-wrapper {
        margin-bottom: 10px;
    }

    .payment-option {
        display: inline-flex;
        align-items: center;
        border: 2px solid #dcdcdc;
        padding: 8px 15px;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        cursor: pointer;
    }

        .payment-option:hover {
            background-color: #f5f5f5;
            border-color: #bbb;
        }

        .payment-option.selected {
            background-color: #cdd1d6;
            border-color: #dcdcdc;
            color: #808080;
        }

    .icon {
        color: #808080;
    }

    .text {
        margin-left: 5px;
    }
</style>