@model PagedList.IPagedList<DATechShop.Models.HoaDon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/ThongTin/Layout_info.cshtml";
}
<div class="container">
    <div class="card-body ">
        <div class="">
            <button type="button" class="btn bnt-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-filter"></i> Lọc dữ liệu
            </button>
            <ul class="dropdown-menu ">
                <!-- Các tùy chọn lọc -->
                <li><a class="dropdown-item" href="@Url.Action("DonHang", "MuaHang", new { trangThaiDon= "" , id_nguoiDung = ViewBag.id_nguoiDung})"> <strong>Tất cả</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DonHang", "MuaHang", new { trangThaiDon= "1" , id_nguoiDung = ViewBag.id_nguoiDung})"> <strong>Chờ duyệt</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DonHang", "MuaHang", new { trangThaiDon= "3" , id_nguoiDung = ViewBag.id_nguoiDung})"> <strong>Đang giao</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DonHang", "MuaHang", new { trangThaiDon= "5" , id_nguoiDung = ViewBag.id_nguoiDung})"> <strong>Đã xong</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DonHang", "MuaHang", new { trangThaiDon= "4" , id_nguoiDung = ViewBag.id_nguoiDung})"> <strong>Đã hủy</strong></a></li>

            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã đơn </th>
                    <th>Khách Hàng</th>
                    <th>Ngày Tạo</th>
                    <th>Địa Chỉ </th>
                    <th>Tổng tiền</th>
                    <th>Thanh Toán</th>
                    <th>Tình trạng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.id_HoaDon</p>
                        </td>
                        <td>
                            <div class="mb-2">

                                <p class="font-weight-bold mb-0">@item.NguoiDung.ten</p> <!-- Class mb-0 để loại bỏ margin bottom -->
                                <p class="mb-0">@item.sdt</p> <!-- Class mb-0 để loại bỏ margin bottom -->
                            </div>
                        </td>
                        <td>@item.ngayTao.Value.ToString("dd/MM/yyyy")</td>
                        <td>@Html.DisplayFor(modelItem => item.diaChi)</td>
                        <td>
                            <p class="font-weight-bold mb-1">@String.Format("{0:#,##0}", item.tongTien)đ</p>
                            <p class="mt-1">-@String.Format("{0:#,##0}", item.giamGia)đ</p>
                        </td>
                        <td>
                            @{
                                var dbContext = ViewBag.DbContext as DATechShop.Models.DATotNghiepEntities;
                                if (dbContext != null)
                                {
                                    var loaiThanhToan = dbContext.LoaiThanhToans.FirstOrDefault(l => l.id_HoaDon == item.id_HoaDon);

                                    if (loaiThanhToan != null)
                                    {
                                        <p class="font-weight-bold mb-1">@loaiThanhToan.loaiThanhToan1</p>
                                        <p class="font-weight-bold mt-1">@(loaiThanhToan.trangThai == 1 ? "Đã thanh toán" : "Chưa thanh toán")</p>
                                    }
                                    else
                                    {
                                        <p>Không có thông tin thanh toán</p>
                                    }
                                }
                            }
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            @if (item.trangThai == 1)
                            {
                                <span class="badge bg-primary"><i class="fas fa-clock"></i> Đang đợi duyệt</span>
                            }
                            else if (item.trangThai == 2)
                            {
                                <span class="badge bg-success"><i class="fas fa-check-circle"></i> Đã Thanh Toán</span>
                            }
                            else if (item.trangThai == 3)
                            {
                                <span class="badge bg-warning text-dark"><i class="fas fa-truck"></i> Đang Giao</span>
                            }
                            else if (item.trangThai == 4)
                            {
                                <span class="badge bg-danger"><i class="fas fa-times-circle"></i> Hủy đơn</span>
                            }
                            else if (item.trangThai == 5)
                            {
                                <span class="badge bg-primary"><i class="fas fa-check-circle text-white"></i> Đã xong</span>
                            }
                            else if (item.trangThai == 6)
                            {
                                <span class="badge bg-danger"><i class="fas fa-times-circle"></i> Khách hàng hủy</span>
                            }
                        </td>

                        <td style="text-align: center; vertical-align: middle;">
                            <div class="dropdown d-inline">
                                <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bars"></i> <!-- Icon ba dòng ngang của Font Awesome -->
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (item.trangThai != null)
                                    {

                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("ChiTietHDNguoiDung", "MuaHang", new { id_hoaDon = item.id_HoaDon ,  area = (string)null })">
                                                <i class="fas fa-eye"></i> Xem chi tiết
                                            </a>
                                        </li>
                                    }


                                    @if (item.trangThai == 1 || item.trangThai == 2)
                                    {

                                        <li><a class="dropdown-item" href="#" onclick="showConfirmModal('@item.id_HoaDon')"><i class="fas fa-times-circle text-danger"></i> Hủy đơn</a></li>

                                    }

                                </ul>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("DonHang", new { page, id_nguoiDung = ViewBag.id_nguoiDung, trangThaiDon = ViewBag.trangThaiDon }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>


<script>
    function showConfirmModal(id_hoaDon) {
        $('#confirmModal').modal('show');

        // Gắn sự kiện click vào nút xác nhận trong modal
        $('#confirmBtn').click(function () {
            // Gọi hàm để đổi trạng thái với id_hoaDon đã nhận được
            changeStatus(id_hoaDon);
            $('#confirmModal').modal('hide');
        });
    }

    function changeStatus(id_hoaDon) {
        // Thực hiện AJAX request để đổi trạng thái với id_hoaDon nhận được
        $.ajax({
            url: '/muaHang/doiTrangThai',
            type: 'POST',
            data: { value: 6, id_hoaDon: id_hoaDon },
            success: function (data) {
                location.reload();
                console.log('Trạng thái đã được thay đổi');
            },
            error: function (xhr, status, error) {
                console.error('Đã xảy ra lỗi:', error);
            }
        });
    }
</script>