@model DATechShop.Models.ChitietSP
@{
    ViewBag.Title = "row";
    Layout = "";
}



<tr class="row_@Model.id_chiTietSP">
    <th scope="row">
        <div class="d-flex align-items-center mb-0 mt-4">
            <img src="~/Upload/imgSP/@Model.anhSP" class="img-fluid me-5 rounded" style="width: 80px; height: 80px;" alt="">

        </div>
    </th>
    <td>
        <div class="product__cart__item__text">
            <p class="h5 font-weight-bold">@Model.SanPham.tenSP</p>
            <h6>@Model.MauSac.tenMau</h6>
            <h6>@Model.TuyChon.tuyChon1</h6>
            <p></p>
        </div>
    </td>
    <td>
        <p class="mb-0 mt-4"> @string.Format("{0:#,##0}đ", Convert.ToDecimal(Model.giaSP))</p>
    </td>
    <td>
        <div class="input-group quantity mt-4" style="width: 100px;">
            <div class="input-group-btn">
                <button class="btn btn-sm btn-minus rounded-circle bg-light border" type="button" onclick="decrementValue(this)">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <input type="text" class="form-control form-control-sm text-center border-0 soLuong" value="1" data-product-id="@Model.id_chiTietSP" onchange="tinhThanhTien(this)">
            <div class="input-group-btn">
                <button class="btn btn-sm btn-plus rounded-circle bg-light border" type="button" onclick="incrementValue(this)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </td>
    
    <td>
        <p class="mb-0 mt-4 ThanhTien"></p>
    </td>
    <td>
        <button class="btn btn-md rounded-circle bg-light border mt-4 deleteCartItemBtn" onclick="showConfirmModal(@Model.id_chiTietSP)">
            <i class="fa fa-times text-danger"></i>
        </button>

    </td>

</tr>
<script src="~/Script/Cart.js"></script>


<script>

    //trừ
    function decrementValue(input) {
        var inputElement = $(input).closest('.input-group').find('.soLuong');
        var value = parseInt(inputElement.val());
        if (!isNaN(value) && value > 1) {
            inputElement.val(value - 1).trigger('change');
        }
    }
    //cộng
    function incrementValue(input) {
        var inputElement = $(input).closest('.input-group').find('.soLuong');
        var value = parseInt(inputElement.val());
        if (!isNaN(value)) {
            inputElement.val(value + 1).trigger('change');
        }
    }


    function tinhThanhTien(input) {
        var row = $(input).closest('tr');
        var gia = parseFloat(@Model.giaSP);

        var soLuong = parseFloat(input.value);
        var chiTietSPId = row.attr('class').split('_')[1];

        if (!isNaN(gia) && !isNaN(soLuong)) {
            var thanhTien = gia * soLuong;
            row.find('.ThanhTien').text(thanhTien.toFixed());


            var cart = CartClass.Get();


            var index = cart.findIndex(item => item.chiTietSPId == chiTietSPId);

           
            if (index !== -1) {
                cart[index].soLuong = soLuong;
                // Lưu giỏ hàng mới vào local storage
                CartClass.Set(cart);

                // Tính lại tổng thành tiền và cập nhật vào local storage
                var tongThanhTien = 0;
                $('.ThanhTien').each(function () {
                    tongThanhTien += parseFloat($(this).text());

                });
                localStorage.setItem('tongThanhTien', tongThanhTien.toFixed());

               
                location.reload();
            }
        } else {
            console.error('Giá hoặc số lượng không hợp lệ.');
        }
    }





    $(document).ready(function () {


        var cart = CartClass.Get();

       
        $('.soLuong').each(function () {
            var chiTietSPId = $(this).closest('tr').attr('class').split('_')[1];
            var item = cart.find(item => item.chiTietSPId == chiTietSPId);
            if (item) {
                $(this).val(item.soLuong);
                var gia = @Model.giaSP;
                var thanhTien = gia * item.soLuong;
                var formattedAmount = thanhTien.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                $(this).closest('tr').find('.ThanhTien').text(formattedAmount);
            }
        });


    });



    function loadTongThanhTien() {
        var tongThanhTien = localStorage.getItem('tongThanhTien');
        $('#tongThanhTien').text(tongThanhTien + 'đ');
    }

    $(document).ready(function () {
        loadTongThanhTien();
    });


    
    function showConfirmModal(chiTietSPId) {
        $('#confirmModal').modal('show');
        console.log(chiTietSPId)
        // Lưu chiTietSPId vào thuộc tính data của nút xác nhận
        $('#confirmBtn').data('chiTietSPId', chiTietSPId);
    }

    // Gắn sự kiện click vào nút xác nhận trong modal
    $('#confirmBtn').click(function () {
        var chiTietSPId = $(this).data('chiTietSPId');
        removeCartItem(chiTietSPId);
        $('#confirmModal').modal('hide');
    });

      function removeCartItem(chiTietSPId) {
        var cart = CartClass.Get();
        var index = cart.findIndex(item => item.chiTietSPId == chiTietSPId);

        if (index !== -1) {
            cart.splice(index, 1);
            CartClass.Set(cart);
            location.reload();
        }
    }



</script>
