@model IEnumerable<DATechShop.Models.SanPham>
@using System.Globalization

@{
    ViewBag.Title = "Home";
}


<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="/img/bg_1.jpg">
            <div class="container">

                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>TechShop xin chào!</h6>
                            <h2>Công nghệ - Thay đổi thế giới</h2>
                            <p>

                            </p>
                            <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/bg_2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>TechShop xin chào!</h6>
                            <h2>Công nghệ - thay đổi thế giới</h2>

                            <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mt-5">
    <div class="container">
        
        <div class="text-center mt-6">
            <ul class="d-flex mt-6">
                <li class="text-dark @(ViewBag.FilterType == "onsale" ? "active" : "")">
                    <a class="btn" href="@Url.Action("Home", "TrangChu", new { filterType ="onsale" })"><span class="text-dark h4 font-weight-bold">Giảm nhiều</span></a>
                </li>
                <li class="text-dark @(ViewBag.FilterType == "bestseller" ? "active" : "")">
                    <a class=" btn" href="@Url.Action("Home", "TrangChu", new { filterType ="bestseller" })"><span class="text-dark h4 font-weight-bold ">Bán chạy</span></a>
                </li>
                <li class="text-dark @(ViewBag.FilterType == "newarrival" ? "active" : "")">
                    <a class="btn" href="@Url.Action("Home", "TrangChu", new { filterType ="newarrival" })"><span class="text-dark h4 font-weight-bold">Mới nhất</span></a>
                </li>
            </ul>


        </div>
        

        <div class="row">

                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6">

                            <div onclick="location.href='@Url.Action("LayChiTietSP", "TrangChu", new { id_sanPham = @item.id_sanPham})'" class="card rounded" style="cursor: pointer;">
                                <div class="container">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="@Url.Content("~/Upload/imgSPChung/" + item.anhSPChung)" class="card-img-top mt-2" style="width:80%">
                                    </div>
                                </div>

                                <div class="card-body">
                                    <p class="h4 font-weight-bold text-secondary">@item.tenSP</p>

                                    @{
                                        var gia = item.ChitietSPs.FirstOrDefault()?.giaSP;
                                        if (gia != null)
                                        {
                                            var giaGocNguyen = (int)gia; // Chuyển giá thành số nguyên
                                            var giaGocFormatted = giaGocNguyen.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"));


                                            var giamphanTram = Convert.ToSingle(item.khuyenMai);
                                            var giagiam = gia - gia * (giamphanTram / 100);
                                            var giagiamNguyen = giagiam.HasValue ? (int)Math.Floor((decimal)giagiam.Value) : 0;
                                            var giaFormatted = giagiamNguyen.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"));

                                            <div class="mt-4">
                                                <p class="h5 font-weight-bold text-primary ">@giaFormatted</p>
                                                <span class="text-decoration-line-through d-inline text-secondary">@giaGocFormatted</span>
                                                <span class="d-inline text-secondary" id="khuyenMai">-@item.khuyenMai%</span>
                                            </div>
                                        }



                                    }
                                </div>
                            </div>

                        </div>
                    }
                }
                else
                {
                    <p>Danh sách sản phẩm trống</p>
                }
            </div>




        </div>
   
</section>