@model DATechShop.Models.ChitietSP
@using System.Globalization

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đường dẫn đến layout của trang
}

<style>
    .rating {
        font-size: 24px; /* Kích thước của sao */
    }

    .star {
        color: gold; /* Màu sắc của viền sao */
        text-shadow: 1px 1px 1px #fff; /* Tạo hiệu ứng viền màu trắng */
    }
</style>

<div>
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <p class="h4">@Model.SanPham.tenSP</p>
                        <div class="breadcrumb__links">
                            <a href="~/trangchu">Trang chủ</a>
                            <a href="@Url.Action("chiTietSPLoai", "TrangChu", new { area = (string)null, loaiSP = Model.SanPham.loaiSP })">@Model.SanPham.loaiSP</a>
                            <span>@Model.SanPham.tenSP</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-5 container">
                <div class="p-3 border border bg-light " style="border-radius: 10px;">
                    <img src="@Url.Content("~/Upload/imgSP/" + Model.anhSP)" style="border-radius: 10px;" id="productImage">
                </div>

                <div class="border-top mt-3 container">
                    <div class="mt-3">
                        <div class="row">
                            <button id="btn_moTa" type="button" class="btn border-secondary btn-outline-secondary col-lg-4 mb-3" onclick="changeStyle(this, 'description')">Mô tả sản phẩm</button>
                            <button id="btn_ThongSoKT" type="button" class="btn border-secondary btn-outline-secondary col-lg-4 mb-3" onclick="changeStyle(this, 'technical')">Thông số kỹ thuật</button>
                            <button type="button" class="btn border-secondary btn-outline-secondary col-lg-4 mb-3" onclick="changeStyle(this, 'details')">Khuyến mãi</button>
                        </div>

                    </div>
                    <div class="p-3 border bg-light mt-3" style="width: 100%; border-radius: 10px;" id="ThongTin">
                        <table class="table " id="thongSoKT" style="display: none;">
                            @if (Model.SanPham.id_sanPham != null)
                            {
                                var thongSo = new DATechShop.Models.mapSP().chiTietThongSo(Model.SanPham.id_sanPham);
                                if (thongSo != null && thongSo.Any())
                                {
                                    <thead>
                                        <tr>
                                            <th>Thông Số</th>
                                            <th>Giá trị</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in thongSo)
                                        {
                                            <tr>
                                                <td>@item.tenThongSo</td>
                                                <td>@item.giaTri</td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2">Danh sách sản phẩm trống</td>
                                    </tr>
                                }
                            }
                        </table>
                        <p id="moTa" style="display: none;">@Model.SanPham.moTa</p>
                    </div>
                </div>


            </div>
            <div class="col-lg-7 ">
                <div class="mx-5 mt-2">
                    <p class="h4 text-black">@Model.SanPham.tenSP</p>

                    @{

                        float khuyenMaiValue;
                        if (float.TryParse(Model.SanPham.khuyenMai, out khuyenMaiValue))
                        {
                            // Calculate discounted price
                            var giaGoc = Model.giaSP;
                            var giaGiam = giaGoc - giaGoc * (khuyenMaiValue / 100);

                            <p class="">Sản Phẩm được 275 lượt đặt.</p>
                            <div class="row g-2 border-top">
                                <div class="col-lg-3 mt-2">
                                    <p class="h4 text-primary " style="font-weight: bold;" id="selected-price-discount">@String.Format("{0:N0}", giaGiam)₫</p>
                                </div>
                                <div class="col-lg-9">
                                    <p class="text-decoration-line-through h5 mx-2" style="color: #808080;" id="selected-price-original">@String.Format("{0:N0}", Model.giaSP)₫</p>
                                </div>
                            </div>
                        }
                    }


                    <p class="h6 mt-3 ">Tùy Chọn:</p>
                    @{
                        var chitietSPs = new DATechShop.Models.mapSP().chiTietSP(Model.SanPham.id_sanPham);
                    }
                    @{
                        HashSet<string> tuyChonDaXuatHien = new HashSet<string>();
                    }
                    @foreach (var item in chitietSPs)
                    {
                        if (item.TuyChon != null && item.TuyChon.tuyChon1 != null)
                        {
                            if (!tuyChonDaXuatHien.Contains(item.TuyChon.tuyChon1))
                            {
                                <button class="btn btn-tuychon mx-1" data-gia="@item.giaSP">@item.TuyChon.tuyChon1</button>
                                tuyChonDaXuatHien.Add(item.TuyChon.tuyChon1);
                            }
                        }
                        else
                        {

                        }

                    }



                    @{
                        HashSet<string> maMauDaXuatHien = new HashSet<string>();
                    }
                    <p class="h6 mt-3">Màu sắc:</p>
                    @foreach (var item in chitietSPs)
                    {
                        if (item.MauSac != null && item.MauSac.maMau != null)
                        {

                            if (!maMauDaXuatHien.Contains(item.MauSac.maMau))
                            {
                                <button class="btn btn-mausac mx-1" data-color="@item.MauSac.maMau" data-hinhanh="@Url.Content("~/Upload/imgSP/" + item.anhSP)" style="background-color: @item.MauSac.maMau; border: 1px solid #CBD4F1; border-radius: 50%; width: 30px; height: 30px;  ">
                                </button>


                                maMauDaXuatHien.Add(item.MauSac.maMau);
                            }
                            else
                            {

                            }
                        }
                    }



                    <div class="border-top mt-3 mx-5">
                        <p id="selected-price" class="h4"></p>
                        <button type="button" class="btn btn-dark btn-lg mt-3 btn-add-to-cart" data-product-id="@Model.id_sanPham" style="width: 100%" id="">Thêm vào giỏ hàng</button>
                        <div class="row g-2 mt-3">
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-secondary btn-lg btn-block">Mua Ngay</button>
                            </div>
                            <div class="col-lg-6">
                                <a href="~/trangchu" class="btn btn-secondary btn-lg btn-block">Xem sản phẩm khác</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container mt-5">
            <p class="h2"> gợi ý đi kèm</p>
            <div>
                @{
                    var goiYSP = new DATechShop.Models.mapSP().goiYSanPham(Model.SanPham.tenSP);
                                <div class="row">

                                    @foreach (var item in goiYSP)
                                    {
                                        <div class="col-lg-2">

                                            <div onclick="location.href='@Url.Action("LayChiTietSP", "TrangChu", new { id_sanPham = @item.id_sanPham})'" class="card rounded" style="cursor: pointer;">
                                                <div class="container">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <img src="@Url.Content("~/Upload/imgSPChung/" + item.anhSPChung)" class="card-img-top mt-2" style="width:80%">
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <p class="h4 font-weight-bold text-secondary">@item.tenSP</p>

                                                    @{
                                                        var gia = item.ChitietSPs.FirstOrDefault()?.giaSP;
                                                        if (gia != null)
                                                        {
                                                            var giaGocNguyen = (int)gia; // Chuyển giá thành số nguyên
                                                            var giaGocFormatted = giaGocNguyen.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"));


                                                            var giamphanTram = Convert.ToSingle(item.khuyenMai);
                                                            var giagiam = gia - gia * (giamphanTram / 100);
                                                            var giagiamNguyen = giagiam.HasValue ? (int)Math.Floor((decimal)giagiam.Value) : 0;
                                                            var giaFormatted = giagiamNguyen.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"));

                                                            <div class="mt-4">
                                                                <p class="h5 font-weight-bold text-primary ">@giaFormatted</p>
                                                                <span class="text-decoration-line-through d-inline text-secondary">@giaGocFormatted</span>
                                                                <span class="d-inline text-secondary" id="khuyenMai">-@item.khuyenMai%</span>
                                                            </div>
                                                        }



                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    }
                                </div>
                }
            </div>
        </div>
    </div>

    <div class="container bg-light mt-5">
        <div class="row">
            <p class="h3 font-weight-bold mt-lg-3">Đánh giá sản phẩm: @Model.SanPham.tenSP</p>
            <hr class="my-2">

            @{
                var id_NguoiDung = Session["id_NguoiDung"] != null ? Convert.ToInt32(Session["id_NguoiDung"]) : 0;
                var id_sanPham = Model.id_sanPham;
                var tenNguoiDung = Session["TenNguoiDung"] as string;

            }

            @if (id_NguoiDung != 0)
            {


                <div class="col-lg-6">
                    <form id="ratingForm">
                        <div>
                            <label for="username"></label>
                            <p class="font-weight-bold">@tenNguoiDung</p>
                        </div>
                        <div>
                            <label for="rating">Đánh giá sao:</label>
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="5">
                                <label for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4">
                                <label for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3">
                                <label for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2">
                                <label for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1">
                                <label for="star1"></label>
                            </div>
                        </div>

                        <div>
                            <label for="review">Nội dung đánh giá:</label><br>
                            <textarea id="review" name="review" rows="4" cols="50" required></textarea>
                        </div>

                        <p>Mua mới có thể đánh giá</p>
                        <button type="submit" class="btn btn-dark">Gửi đánh giá</button>
                    </form>
                </div>
            }
            else
            {
                <div class="col ">
                    <p class="h2">Phải đăng nhập mới có thể bình luận</p>
                </div>

            }
        <div class="col">
            @{
                var DanhGia = new DATechShop.Models.mapDanhGia().DanhSachDanhGia(id_sanPham);
            }
            <p class="h4"> Bình luận</p>
            @if (DanhGia != null && DanhGia.Any())
            {
                foreach (var danhGia in DanhGia)
                {
                    <div class="col-lg-12">
                        <!-- Thay đổi số cột tùy thuộc vào màn hình dọc -->
                        <div class="d-flex ">
                            <div class="rounded-circle bg-secondary text-light d-flex justify-content-center align-items-center mt-2" style="width: 30px; height: 30px;">
                                <i class="fas fa-user "></i>
                            </div>
                            @if (danhGia.NguoiDung != null)
                            {
                                <div class="mx-2">
                                    <div class="font-weight-bold">@danhGia.NguoiDung.ten:</div>
                                    <div>@((danhGia.ngayDanhGia != null ? danhGia.ngayDanhGia.Value.ToString("dd/MM/yyyy") : ""))</div>
                                    <div class="">
                                        <div class="rating">
                                            @for (int i = 0; i < danhGia.diemDanhGia; i++)
                                            {
                                                <span><i class="fas fa-star text-warning" style="font-size: 15px;"></i></span>
                                            }
                                        </div>
                                    </div>
                                    <div class="">
                                        <p>@danhGia.binhLuan</p>
                                    </div>
                                </div>
                                <hr class="my-2">




                            }
                            else
                            {
                                <div class="font-weight-bold">Người dùng không tồn tại</div>
                            }
                        </div>
                    </div>
                }

            }
            else
            {
                <p>Không có đánh giá nào.</p>
            }
        </div>


            <div>

            </div>
        </div>

    </div>
</div>

<script src="~/Script/Cart.js"></script>

<script>

var productId = '@Model.id_sanPham';
 $('.btn-tuychon').click(function () {
        var gia = $(this).data('gia');

        // Calculate the discounted price
        var khuyenMaiValue = parseFloat('@Model.SanPham.khuyenMai');
        var giaGoc = parseFloat(gia);
        var giaGiam = giaGoc - giaGoc * (khuyenMaiValue / 100);

        // Format the prices with commas for thousands separators
        var formattedOriginalPrice = giaGoc.toLocaleString('vi-VN');
        var formattedDiscountedPrice = giaGiam.toLocaleString('vi-VN');

        // Update the selected-price-discount and selected-price-original elements
        $('#selected-price-discount').text(formattedDiscountedPrice + 'đ');
        $('#selected-price-original').text(formattedOriginalPrice + 'đ');

        
        $('.btn-tuychon').removeClass('selected');

        // Add the "selected" class to the clicked button
        $(this).addClass('selected');
    });



    $('.btn-mausac').click(function () {

        var color = $(this).data('color');

        var imageUrl = $(this).data('hinhanh');

        $('#selected-color').text(color);
        console.log('Màu sắc: ', color);


        $('#productImage').attr('src', imageUrl);
        console.log('Ảnh sản phẩm: ', imageUrl);
    });

    $('.btn-add-to-cart').click(function () {

        var productId = $(this).data('product-id');


        var color = $('.btn-mausac.selected').data('color');


        var option = $('.btn-tuychon.selected').text();

        console.log('Color:', color);
        console.log('Option:', option);


       CartClass.addToCart(productId, color, option);
    });


    var selectedButton = document.querySelector('.mt-3 button#btn_moTa');

    if (!selectedButton) {
        selectedButton = document.querySelector('.mt-3 button');
        selectedButton.classList.remove('btn-outline-secondary');
        selectedButton.classList.add('btn-secondary');
    }

    changeStyle(selectedButton, 'description');

    function changeStyle(button, tab) {
        if (selectedButton !== null) {

            selectedButton.classList.remove('btn-secondary');
            selectedButton.classList.add('btn-outline-secondary');
        }


        button.classList.remove('btn-outline-secondary');
        button.classList.add('btn-secondary');


        selectedButton = button;


        var thongSoKT = document.getElementById('thongSoKT');
        var moTa = document.getElementById('moTa');

        if (tab === 'technical') {
            thongSoKT.style.display = 'table';
            moTa.style.display = 'none';
        } else if (tab === 'description') {
            thongSoKT.style.display = 'none';
            moTa.style.display = 'block';
        }
    }

    $(document).ready(function () {
        $('.btn-mausac').click(function () {
            var color = $(this).data('color');


            $('#selected-color').text(color).show();


            $('.btn-mausac').removeClass('selected');


            $(this).addClass('selected');
        });


    });


    document.getElementById("ratingForm").addEventListener("submit", function (event) {
        event.preventDefault();
        var username = document.getElementById("username").value;
        var rating = document.querySelector('input[name="rating"]:checked').value;
        var review = document.getElementById("review").value;
        alert("Bạn (" + username + ") đã đánh giá " + rating + " sao với nội dung: " + review);

    });

    $(document).ready(function () {
    $('#ratingForm').submit(function (e) {
        e.preventDefault(); // Ngăn chặn việc gửi form một cách thông thường

        // Lấy dữ liệu từ form
        var rating = $('input[name=rating]:checked').val();
        var review = $('#review').val();

        // Tạo đối tượng chứa dữ liệu đánh giá
        var data = {
            id_NguoiDung: @id_NguoiDung, 
            id_sanPham: @id_sanPham, 
            rating: rating,
            review: review
        };

       
        $.ajax({
            url: '/TrangChu/SubmitReview',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (response) {
                if (response.success) {
                    $('#successMessage').text('Bạn đã đánh giá sản phẩm');
                    $('#successAlert').fadeIn('slow').delay(2000).fadeOut('slow');
                    console.log("Đã đánh giá sản phẩm thành công");
                } else {
                    $('#errorMessage').text('Bạn cần mua hàng!');
                    $('#errorAlert').fadeIn('slow').delay(2000).fadeOut('slow');
                }
            },
            error: function (error) {
                $('#successMessage').text('Lỗi');
                $('#successAlert').fadeIn('slow').delay(2000).fadeOut('slow');
            }
        });
    });
});


</script>

<style>
    .btn-tuychon {
        border-color: #ccc; /* Màu viền của nút */
        border-radius: 5px; /* Độ cong góc của nút */
        background-color: #fff; /* Màu nền của nút */
    }

        .btn-tuychon.selected {
            border-color: #007bff; /* Màu viền của nút khi được chọn */
            color: #007bff; /* Màu chữ của nút khi được chọn */
        }

    .selected {
        border-color: #007bff; /* Màu viền khi nút được chọn */
        color: #007bff; /* Màu chữ khi nút được chọn */
    }


    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
    }

        .rating input {
            display: none;
        }

        .rating label {
            cursor: pointer;
            display: inline-block;
            padding: 1px;
            font-size: 30px;
            border-radius: 50%; /* Bo tròn các cạnh */
            margin-right: 1px; /* Khoảng cách giữa các ngôi sao */
            -webkit-text-stroke-width: 1px; /* Độ dày của đường viền xung quanh các ngôi sao */
            -webkit-text-stroke-color: #ccc; /* Màu của đường viền xung quanh các ngôi sao */
        }

            .rating label:before {
                content: "\2605";
                color: transparent; /* Làm cho màu của ngôi sao trở thành trong suốt */
            }

            .rating input:checked ~ label:before,
            .rating label:hover:before {
                color: #ffcc00;
                text-shadow: 0 0 5px #ffcc00; /* Tạo hiệu ứng glow cho ngôi sao được chọn hoặc di chuột qua */
            }

    .submit-btn {
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

</style>