@model PagedList.IPagedList<DATechShop.Models.ChitietSP>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Chi tiết về sản phẩm</h2>


<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable">
            <tr>
                <th colspan="7" class="text-end">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="h3 text-dark mb-0">Chi tiết sản phẩm </p>
                       
                            <a class="btn btn-primary" href="@Url.Action("ThemChiTietSP", "SanPham", new { id = @ViewBag.id_sanPham})">
                                <i class="fas fa-plus"></i> Thêm chi tiết
                            </a>
                    
                    </div>
                </th>

            </tr>
            <tr>
                <th>
                    Ảnh
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Tên Màu
                </th>
                <th>
                    Giá sản phẩm
                </th>

                <th> chức Năng</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img style="width:50px;height:auto" src="~/Upload/imgSP/@item.anhSP" />
                    </td>
                    <td>
                        @if (item.TuyChon != null)
                        {
                            <p class="h5 text-dark font-weight-bold">@item.SanPham.tenSP</p>
                            <p>Tùy chọn: @item.TuyChon.tuyChon1</p>
                        }
                        else
                        {
                            <p class="h5 text-dark font-weight-bold">@item.SanPham.tenSP</p>
                            <p>Tùy chọn không có</p>
                        }
                    </td>
                   

                    <td>
                        @if (item.MauSac != null)
                        {
                            <div class="color-icon" style="background-color: @item.MauSac.maMau"></div>
                            <span>@item.MauSac.tenMau</span>
                        }
                        else
                        {
                            <strong>NULL</strong>
                        }
                    </td>


                    <td>
                        <p>@String.Format("{0:#,##0}", item.giaSP) đ</p>
                    </td>

                    <td style="text-align: center; vertical-align: middle;">
                        <div class="dropdown d-inline">
                            <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li class=" mx-3">
                                    <i class="fas fa-eye"></i>
                                    <strong class="mx-2">Xem chi tiết</strong>
                                </li>
                                <li mb-1>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="mx-3">
                                    <p data-id-khuyenmai="@item.id_chiTietSP" class="confirmDeleteBtn text-danger">
                                        <i class="fas fa-trash-alt"></i>
                                        <strong class="mx-2">Xóa </strong>
                                    </p>
                                </li>
                            </ul>

                        </div>

                    </td>

                </tr>
            }
        </table>
        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("ChiTietSP", new { page, id_sanPham = ViewBag.id_sanPham }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>


<style>
    .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }

    .alert {
        position: fixed;
        top: 80px;
        right: 50px;
        z-index: 1000;
        border-radius: 5px;
    }

    .color-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }
</style>
<script>

    $(document).ready(function () {
        $('.confirmDeleteBtn').click(function () {
            var id_chiTietSP = $(this).data('id-khuyenmai');
            console.log(id_chiTietSP)

            $('#confirmModal').modal('show');

            $('#confirmBtn').click(function () {
                $.ajax({
                    url: '/Admin/SanPham/xoaChiTietSP',
                    type: 'POST',
                    data: { id_chiTietSP: id_chiTietSP },
                    success: function (result) {
                        if (result.success) {
                            location.reload(); 
                        } else {

                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
                $('#confirmModal').modal('hide');
            });
        });
    });
</script>

