@model PagedList.IPagedList<DATechShop.Models.ChitietSP>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Chi tiết về sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <tr>
                <th>
                    Gía Sản Phẩm
                </th>
                <th>
                    Ảnh
                </th>
                <th>
                    Tên Màu
                </th>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Tên Tùy chọn
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.giaSP)
                    </td>

                    <td><img style="width:50px;height:auto" src="~/Upload/imgSP/@item.anhSP" /></td>

                    <td>
                        @Html.DisplayFor(modelItem => item.MauSac.tenMau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SanPham.tenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TuyChon.tenTuyChon)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id_chiTietSP }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id_chiTietSP }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id_chiTietSP })
                    </td>
                </tr>
            }

        </table>
        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("ChiTietSP", new { page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>

