@model PagedList.IPagedList<DATechShop.Models.ChitietSP>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Chi tiết về sản phẩm</h2>


<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable">
            <tr>
                <th>
                    Ảnh
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Tên Màu
                </th>
                <th>
                    Giá sản phẩm
                </th>

                <th> chức Năng</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img style="width:50px;height:auto" src="~/Upload/imgSP/@item.anhSP" />
                    </td>

                    <td>
                       

                        @if (item.id_tuyChon != null)
                        {
                            <p class="h5 text-dark font-weight-bold">@item.SanPham.tenSP</p>
                            <p>Tùy chọn: @item.TuyChon.tuyChon1</p>
                        }
                        else
                        {
                            <p class="h5 text-dark font-weight-bold">@item.SanPham.tenSP</p>
                            <p>Tùy chọn không có</p>
                        }
                    </td>

                    <td>
                        <div class="color-icon" style="background-color: @item.MauSac.maMau"></div>
                        <span>@item.MauSac.tenMau</span>
                    </td>
                    <td>
                        <p>@String.Format("{0:#,##0}", item.giaSP) đ</p>
                    </td>

                    <td>
                        <div class="d-inline mx-3">
                            <a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        <div class="dropdown d-inline">
                            <button class="btn " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i> <!-- Icon ba chấm của Font Awesome -->
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>@Html.ActionLink("Thêm chi tiết sản phẩm", "ThemChiTietSP", new { id = item.id_sanPham }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Xem Các SP", "ChiTietSP", new { id = item.id_sanPham }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Thêm Thông Số", "DanhSachThongSo", new { id = item.id_sanPham }, new { @class = "dropdown-item" })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }


        </table>
        <div class="container center">
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("ChiTietSP", new { page, id_sanPham = ViewBag.id_sanPham }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>


<style>
    .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }

    .alert {
        position: fixed; /* Định vị cố định */
        top: 80px; /* Cách lề trên 20px */
        right: 50px; /* Cách lề phải 20px */
        z-index: 1000; /* Sắp xếp z-index để đảm bảo nó hiển thị trên các phần tử khác */
        border-radius: 5px; /* Bo tròn góc */
    }

    .color-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }
</style>
