@model PagedList.IPagedList<DATechShop.Models.ThongSoKyThuat>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSachThongSo";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
   
    <p class="h2 text-center">Thêm thông số</p>
    <div class="row">
        <div class="col-4">
            <p class="h4 mt-2">Bảng thông số</p>
            <table class="table table-bordered ">
                <tr>

                    <th>
                        Thông Số
                    </th>
                    <th>
                        Giá trị
                    </th>
                    <th> Chắc Năng</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.tenThongSo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.giaTri)
                        </td>
                        <td>
                            <div class="d-inline mx-3">
                                <!-- Sử dụng class confirmDeleteBtn thay vì id để tránh trùng lặp -->
                                <a data-id-thongso="@item.id_ThongSo" class="btn btn-danger btn-circle btn-sm confirmDeleteBtn">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>

            <div class="container center">
                <div class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("DanhSachThongSo", new { page, id = ViewBag.IdSanPham }), PagedListRenderOptions.Classic)
                </div>
            </div>
        </div>
        <div class="col-8">
            
            @using (Html.BeginForm("ThemThongSo", "SanPham", FormMethod.Post))
            {
                @Html.Hidden("id_sanPham", (int)ViewBag.IdSanPham)
                <div class="form-group">
                    <label for="tenThongSo">Tên Thông Số:</label>
                    <input type="text" name="tenThongSo" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="giaTri">Giá Trị:</label>
                    <input type="text" name="giaTri" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Thêm</button>
            }
            
        </div>
    </div>
 </div>

<script>
    $(document).ready(function () {
        $('.confirmDeleteBtn').click(function () {
            var id_thongSo = $(this).data('id-thongso');
            var id_sanPham = @ViewBag.IdSanPham;

            $('#confirmModal').modal('show');

            $('#confirmBtn').click(function () {
                $.ajax({
                    url: '/Admin/SanPham/xoaThongSo',
                    type: 'POST',
                    data: { id_thongSo: id_thongSo },
                    success: function (result) {
                        if (result.success) {


                            $.get('/Admin/SanPham/DanhSachThongSo', { id: id_sanPham }, function (data) {
                                $('#dataTable').html($(data).find('#dataTable').html());
                            });

                        } else {

                        }
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                        console.log(xhr.responseText);
                    }
                });
                $('#confirmModal').modal('hide');
            });
        });
    });
</script>