@model PagedList.IPagedList<DATechShop.Models.SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSachSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Danh Sách Sản Phẩm</h2>

<div class="card-body">
    <div class="table-responsive">

        <div class="dropdown">
            <button type="button" class="btn bnt-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-filter"></i> Lọc dữ liệu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("DanhSachSP", "SanPham", new { loaiSP= ""})"> <strong>Tất cả</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DanhSachSP", "SanPham", new { loaiSP= "DienThoai"})"> <strong>Điện thoại</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DanhSachSP", "SanPham", new { loaiSP= "LapTop"})"> <strong>LapTop</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DanhSachSP", "SanPham", new { loaiSP= "AmThanh"})"> <strong>Âm Thanh</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DanhSachSP", "SanPham", new { loaiSP= "PhuKien"})"> <strong>Phụ Kiện</strong></a></li>
                <li><a class="dropdown-item" href="@Url.Action("DanhSachSP", "SanPham", new { loaiSP= "DoChoi"})"> <strong>Đồ chơi</strong></a></li>

            </ul>
        </div>
        <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="7" class="text-end">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="h3 text-dark mb-0">Sản Phẩm</p>
                            <a class="btn btn-primary" href="@Url.Action("Themsanpham")">
                                <i class="fas fa-plus"></i> Thêm Sản phẩm
                            </a>
                        </div>
                    </th>

                </tr>
                <tr>
                    <th class="text-dark">
                        Tên Sản Phẩm
                    </th>
                    <th class="text-dark">
                        Loại Sản Phẩm
                    </th>
                    <th class="text-dark">
                        Mô Tả
                    </th>
                    <th class="text-dark">
                        Ghi Chú
                    </th>
                    <th class="text-dark">
                        Khuyến mãi
                    </th>
                    <th class="text-dark">
                        ẢNh
                    </th>
                    <th class="text-dark">
                        Chức Năng
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loaiSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ghiChu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.khuyenMai)
                    </td>

                    <td>
                        <img style="width:50px;height:auto" src="~/Upload/imgSPChung/@item.anhSPChung" />
                    </td>
                    <td>
                        <div class="d-inline mx-3">
                            <a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        <div class="dropdown d-inline">
                            <button class="btn " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i> <!-- Icon ba chấm của Font Awesome -->
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>@Html.ActionLink("Thêm chi tiết sản phẩm", "ThemChiTietSP", new { id = item.id_sanPham }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Xem Các SP", "ChiTietSP", new { id = item.id_sanPham }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Thêm Thông Số", "DanhSachThongSo", new { id = item.id_sanPham }, new { @class = "dropdown-item" })</li>
                            </ul>
                        </div>


                    </td>
                </tr>
            }

        </table>

        <div class="container center">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("DanhSachSP", new { page, loaiSP= ViewBag.loaiSP }), PagedListRenderOptions.Classic)
            </ul>
        </div>
    </div>
  </div>



