@model DATechShop.Models.SanPham

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("LuuSuaSanPham", "SanPham", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container " style="width:70%">
        <h2 class="text-center">Sửa Sản Phẩm</h2>

        <div class="row">
            <div class="col-lg-5">
                <p class="mt-5">Ảnh sản phẩm</p>
                <img style="width:80%; height:auto" src="~/Upload/imgSPChung/@Model.anhSPChung" />
            </div>

            <div class="col -lg-6">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="font-weight-bold">Tên Sản Phẩm</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tenSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tenSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Loại sản phẩm</label>
                    <div class="col-md-10">
                        <select id="loaiSP" name="loaiSP" class="form-control">
                            <option value="DienThoai">Điện thoại</option>
                            <option value="LapTop">LapTop</option>
                            <option value="AmThanh">Âm thanh</option>
                            <option value="PhuKien">Phụ kiện</option>
                            <option value="DoChoi">Đồ chơi</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.loaiSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Những từ khóa liên quan:</label>
                    <p class="small mb-1 mx-4">(*) Gợi ý cho khách hàng về sản phẩm.</p>
                    <p class="small mb-1 mx-4">(*) Các từ khóa các nhau bởi dấu ","</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ghiChu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ghiChu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-3">
                    <p class="font-weight-bold label">Phần trăm giảm</p>
                    <div class="col-md-10">
                        <div class="input-group">
                            @Html.EditorFor(model => model.khuyenMai, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.khuyenMai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold ">Mô tả sản phẩm</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.moTa, new { @class = "form-control", rows = "5" })
                        @Html.ValidationMessageFor(model => model.moTa, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.id_sanPham)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sửa" class="btn btn-primary" />
                    </div>
                </div>

                <div class="form-group">
                    <p class="text-primary">@ViewBag.err</p>
                </div>
            </div>
        </div>
    </div>
}



