@model DATechShop.Models.ThemChiTietSPViewModel



@{
    ViewBag.Title = "ThemChiTietSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


    <h2 class="text-center">Thêm Chi Tiết Sản Phẩm</h2>

    @using (Html.BeginForm("ThemChiTietSP", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.SanPham.id_sanPham)

        <div class="form-horizontal container" style="width:100%">
            <div class="row">
                <div class="col">
                    <div class="form-group mt-4">
                        <p class="label">Chọn Hình Ảnh</p>
                        <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" onchange="ImagerFileAsURL()" />
                    </div>
                    <div class="mx-3 mt-3 rounded-pill" id="displayImg" style="max-width:200px"></div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <p>Tên sản Phẩm</p>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.SanPham.tenSP, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SanPham.loaiSP, "Loại Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.SanPham.loaiSP, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedMau, "Chọn Màu Sắc", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.SelectedMau, new SelectList(Model.DanhSachMau, "id_Mau", "tenMau"), "Chọn màu...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedMau, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedTuyChon, "Chọn Phiên Bản", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.SelectedTuyChon, new SelectList(Model.DanhSachTuyChon, "id_tuyChon", "tuyChon1"), "Chọn phiên bản...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedTuyChon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <p class="label mx-3">Giá</p>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ChitietSP.giaSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChitietSP.giaSP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <script type="text/javascript">
        function ImagerFileAsURL() {
            var file = document.getElementById('uploadhinh').files;
            if (file.length > 0) {
                var fileToLoad = file[0];
                var fileReader = new FileReader();
                fileReader.onload = function (fileLoaderEvent) {
                    var srcData = fileLoaderEvent.target.result;
                    var newImage = document.createElement("img");
                    newImage.src = srcData;
                    document.getElementById('displayImg').innerHTML = "";
                    document.getElementById('displayImg').appendChild(newImage);
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        }
    </script>

    <style>
        #displayImg img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
